.table-sort,
.table-sort * {
  box-sizing: border-box;
}

.table-sort {
  width: 100%;
  margin-bottom: 40px;
}

.table-sort th,
.table-sort td {
  border-collapse: collapse;
  padding: 20px;
  border: 1px soild #000;
}

.table-sort th {
  background-color: #3fced0;
  color: #fff;
}

.table-sort th:hover {
  cursor: pointer;
}
.table-sort tr {
  background-color: #e8e8e8;
}

.table-sort tr:nth-child(even) {
  background-color: #eee;
}
